---
---
<!doctype html>
<html>
    {% include head.html title="从源代码Build Picard" %}
    <body>
        <div class="wrapper">
            {% include header.html %}

            <h2>Building Picard From Source - 从源代码 Build Picard</h2>

            <section>
            请查看<a href="http://samtools.github.io/htsjdk/building.html"> 从源代码Build HTSJDK </a>。
            </section>
                
            <a id="Prerequisites"/>
            <h3>Java version - Java版本</h3>
            <section>

            <p>Building Picard 命令行工具需要 Java 1.6。他们可能可以使用 Java 1.7 编译器，但是为了达到和 Java 1.6 JVM 最大的兼容性，你应该使用 Java 1.6 libraries。这可以通过下列某一种方法实现：
            </p>
            <ul>
                <li>设置环境变量 JAVA6_HOME 指向你的 Java 1.6 的安装位置。</li>
                <li>把参数-Djava6.home=<i>path</i> 传递给 ant， 其中 <i>path</i> 是你的 Java 1.6 安装的文件夹。</li>
            </ul>
            <p>如果在你想build的机器上还没有安装 Java 1.6，你可以提供Java 1.7 的安装位置来替代，但是用这种方法编译的代码在Java 1.6 JVM上面运行时可能会有问题。
            </p>
            </section>

            <a id="BuildingPicardUtilities"/>
            <h3>Building Picard command-line utilities - Building Picard 命令行工具箱</h3>
            <section>
            <p>要Build命令行工具箱，切换到Picard源码树的根层，然后运行下面的命令。</p>
            <pre>ant -lib lib/ant package-commands</pre>
            <p>这会在 dist 子文件夹里面创建一个可执行的 jar ，叫做 <i>picard.jar</i> 。关于如何用这个 jar 调用命令，请查看<a href="command-line-overview.html">这个页面</a></p>
            </section>

            <a id="ga4gh-api"/>
            <h3>GA4GH API</h3>
            <section>
            <p>It is possible to build a version of Picard that supports reading from the <a href="http://ga4gh.org/">GA4GH</a> API, e.g. Google Genomics:</p>
            <ol>
                <li><p>Fetch <code>gatk-tools-java</code> library from https://github.com/iliat/gatk-tools-java</p></li>

                <li><p>Build:</p>
                <pre><code>ant gatk-tools-java-picard-jar</code></pre></li>

                <li><p>Copy the resulting jar to <code>lib/gatk-tools-java/</code> under the Picard folder, e.g.</p>
                <pre><code>cp dist/gatk-tools-java-picard-1.0.jar ../picard/lib/gatk-tools-java/</code></pre></li>

                <li><p>Build Picard:</p>
                <pre><code>ant -lib lib/ant package-commands-ga4gh</code></pre></li>

                <li><p>You can now run:</p>
                <pre><code>java -jar dist/picard.jar ViewSam \
                INPUT=https://www.googleapis.com/genomics/v1beta2/readgroupsets/CK256frpGBD44IWHwLP22R4/ \
                GA4GH_CLIENT_SECRETS=../client_secrets.json</code></pre></li>
            </ol>
            </section>

            <!-- END OF THE MAIN BODY  -->
        </div>
        {% include footer.html %}
    </body>
</html>
