---
---
<!doctype html>
<html>
	{% include head.html title="Picard-Manual-CN - Picard中文使用手册 by CNCBI" %}
	<body>
		<div class="wrapper">
			{% include header.html %}
			
			<section>

			<p>一个用来处理高通量测序（HTS）的数据和格式的Java命令行工具箱。</p>

			<p>Picard是通过使用HTSJDK Java 库 <a href="http://github.com/samtools/htsjdk">HTSJDK</a>来实现的，支持用来存储高通量测序的数据的常见的文件格式，比如 <a href="http://samtools.github.io/hts-specs/SAMv1.pdf">SAM</a> 和 <a href="http://samtools.github.io/hts-specs/VCFv4.1.pdf">VCF</a></p>
			</section>

			<!-- BEGIN OF THE MAIN BODY  -->

			<h2>Introduction - 简介</h2>

			<section>
			<p>SAM（序列比对/Map）格式是一个用来存储长核苷酸序列比对的一种格式。在 <a href="https://samtools.github.io/hts-specs/">hts-specs</a> 页面里面描述了SAM和与它相关的文件格式。
			</p>

			<p>Picard由下列两样构成：基于Java的来处理SAM文件的命令行工具，和一个Java API (HTSJDK) （Java应用程序接口），这个API可以用于创建可以读写SAM文件的新软件。它支持SAM文本格式和SAM二进制格式 (BAM)。</p>

			<p>如需获取Picard的使用或开发方面的帮助，请使用
			<a href="http://gatkforums.broadinstitute.org/">GATK 论坛</a>.
			</p>

			<p>Picard托管在 <a target="_blank" href="http://github.com">Github.com</a>上。
			源代码可以在<a target="_blank" href="http://github.com/broadinstitute/picard">Picard项目页面</a>下载。

			<p>你可以使用下面的命令检出最新的源码：</p>
			<pre>git clone git@github.com:broadinstitute/picard.git</pre>

			<p>HTSJDK的源码可以在<a href="https://github.com/samtools/htsjdk">GitHub上面</a>下载到。
			你可以使用下面的命令检出最新的源码：
			</p>
			<pre>git clone git@github.com:samtools/htsjdk.git</pre>
			<p>尽情享用！</p>
			</section>

			<h2>Quick Start - 快速开始</h2>
			<section>
			<p>更多细节，请查看 <a href="building.html">Building</a> 和 <a href="command-line-overview.html">概述</a>。</p>
			<!--TODO figure out how to make multi-line <pre> formatting work without resorting to the <br> tag.-->
			<pre>export $JAVA_HOME=<i>Java_6_or_7_install_path</i><br>ant -lib lib/ant package-commands<br>java <i>jvm-args</i> -jar dist/picard.jar <i>PicardCommandName</i> OPTION1=value1 OPTION2=value2...</pre>
			</section>

			<a id="GettingHelp"></a>

			<h2>Getting Help - 获取帮助</h2>

			<section>
			<p>Picard通过 <a href="http://gatkforums.broadinstitute.org/post/question">GATK 论坛</a> 提供支持。
			请加入GATK论坛，以获取Picard软件和其他由Broad Institute支持的软件的帮助信息。
			</p>
			</section>

			<h2>Before Asking For Help - 在寻求帮助之前</h2>

			<section>
			<p>在论坛上面提问之前，请做下列事情：</p>
			<ul>
				<li>尝试<a href="https://github.com/broadinstitute/picard/releases/latest">最新版本的Picard</a>。</li>
				<li>看看你的问题是否在<a href="faq.html">常问问题</a>中讨论过了。</li>
				<li>在 <a href="http://gatkforums.broadinstitute.org/post/question">GATK 论坛</a> 中搜索，看看你的问题是否已经在之前讨论过了。
				<li>运行Picard <a href="command-line-overview.html#ValidateSamFile">ValidateSamFile</a> MODE=SUMMARY。尝试解决或至少理解报告的任何问题。</li>
			</ul>
			<p>在发邮件问一个问题时，请包含以下信息：

			<p>
			<ul>
				<li>您使用的命令。</li>
				<li>程序控制台的输出和 metrics 文件。可以缩减重复的输出。</li>
				<li>完整的堆栈跟踪信息 (stack trace) ，如果生成了的话。</li>
				<li>您正在使用的 JVM 的版本（通过运行 'java -version' 来获取）。</li>
			</ul>
			</section>

			<h2>General Information - 常规信息</h2>
			<section>
			<ul>
				<li><a href="index.html#GettingHelp">获取帮助</a></li>
				<li><a href="faq.html">常问问题</a></li>
				<li><a href="http://github.com/broadinstitute/picard/releases">下载页面</a></li>
				<li>SAMtools</li>
				<ul>
					<li><a href="http://samtools.sourceforge.net/">SAMtools 官网</a></li>
					<li><a href="http://sourceforge.net/mail/?group_id=246254">SAMtools 邮件列表</a></li>
				</ul>
				<li>Github 项目页:</li>
				<ul>
					<li><a href="https://github.com/broadinstitute/picard">Picard</a></li>
					<li><a href="https://github.com/samtools/htsjdk">HTSJDK</a></li>
					<li><a href="https://github.com/samtools/samtools">SAMtools</a></li>
				</ul>
				<li><a href="https://samtools.github.io/hts-specs">SAM/BAM 和相关文件格式的规范</a></li>
			</ul>
			</section>
			<h2>Picard</h2>
			<section>
			<ul>
				<li><a href="command-line-overview.html#Overview">概述</a></li>
				<li><a href="building.html#BuildingPicardUtilities">Building</a></li>
				<li><a href="javadoc/picard/index.html">Java说明文档</a></li>
				<li><a href="explain-flags.html">解释 SAM 的Flags</a></li>
				<li><a href="picard-metric-definitions.html">Metrics 程序输出的描述</a></li>
				<li><a href="sam-differences.html">在Picard中的SAM的区别</a></li>
				<li><a href="intel-deflater.html">英特尔平减指数</a></li>
			</ul>
			</section>
			<h2>Command-line tools - 命令行工具</h2>
			<section>
			<ul>
				{% include command-line-sidebar.html %}
			</ul>
			</section>
		</div>
		{% include footer.html %}
	</body>
</html>
