			<header>
			<h1><a href="index.html">Picard-Manual-CN</a></h1>
			<h1><a href="index.html">Picard中文使用手册</a></h1>
			<p>一个用来处理BAM (http://samtools.sourceforge.net) 格式的高通量测序数据的 (Java) 工具箱。</p>
			<p class="view"><a href="https://github.com/broadinstitute/picard">View the Project on GitHub <small>broadinstitute/picard</small></a></p>
			<ul>
				<li><a href="http://broadinstitute.github.io/picard/">View in 
				<strong>Engligh</strong></a></li>
				<li><a href="https://github.com/CNCBI/Picard-Manual-CN">View On <strong>GitHub</strong></a></li>
			</ul>
			</header>
